<div class="orders view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Customer Information</h3>
        </header>
        <br />
        <div class="navbar">
            <ul class="nav navbar-nav">
                <li class="toolbar-item">
                    <!--
                        
                        TODO 1: Add routerLink and Property/Event Bindings
                        
                        1. Bind a routerLink directive to the <a> tag immediately 
                           below the  TODO comment. It should point to the 
                           'details' route.
                           
                        2. Bind the click event on the <a> tag to the following
                           expression:
                           
                           displayMode = displayModeEnum.Details
                           
                        3. Bind class.active on the <a> tag to the following
                           expression using property binding syntax:
                           
                           displayMode === displayModeEnum.Details
                           
                           This binding will add the "active" CSS class to the 
                           <a> tag when displaymode === displayModeEnum.Details.
                        
                    -->
                    <a>
                       <span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;Customer Details
                    </a>
                </li>
                <li class="toolbar-item">
                    <a [routerLink]="['orders']"
                       (click)="displayMode = displayModeEnum.Orders" 
                       [class.active]="displayMode === displayModeEnum.Orders">
                        <span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Customer Orders
                    </a>
                </li>
                <li class="toolbar-item">
                    <a [routerLink]="['edit']"
                       (click)="displayMode = displayModeEnum.Edit" 
                       [class.active]="displayMode === displayModeEnum.Edit">
                        <span class="glyphicon glyphicon-edit edit-icon"></span>&nbsp;&nbsp;Edit Customer
                    </a>
                </li>
            </ul>
        </div>
        <div class="container">
            <!--
                
                TODO 2: Add the RouterOutlet Directive
                
                Add the <router-outlet> directive. This is where
                child routes will be loaded into.
                
            -->



            <br />
            <br />

            <!--
                
                TODO 3: Add a routerLink Directive
             
                Bind a routerLink directive to the <a> tag immediately 
                below. It should point to the '/' parent route.
                
            -->
            <a>View all Customers</a>

        </div>
    </div>
</div>






