<div class="container">
    <div class="row card-container">
        <!--

            TODO 1: Use ngFor to Iterate Through Customers

            1. Add an ngFor directive to the first <div> element immediately below that
               iterates through the array of customers exposed by the component class.
               Name the ngFor variable "customer".

            2. Add the following code immediately AFTER the customer property in
               the ngFor (inside of the quotes):
               
               ;trackBy:trackby.customer

        -->
        
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-header">
        <!--

            TODO 2: Render the Customer's firstName and lastName Properties

            1. Locate the <a class="white"> anchor element below.

            2. Render the customer's firstName and lastName properties inside
               of the anchor tags using interpolation syntax: {{ }}

            3. Apply the capitalize pipe to both properties.

            4. Find the {{ customer.gender }} binding below and add the lowercase pipe.

        -->
                    <a class="white">
                        
                    </a>
                </div>
                <div class="card-body">
                    <div class="clearfix">
                        <div class="pull-left card-body-left">
                            <a href="#" class="white">
                                <img src="images/{{ customer.gender }}.png" class="card-image" />
                            </a>
                        </div>
                        
        <!--

            TODO 3: Use the Custom trim Pipe

            Locate the {{ customer.city }} binding below and 
            add the trim pipe to it.

        -->
                        
                        <div class="pull-left card-body-right">
                            <div class="card-body-content">
                                {{ customer.city }}, {{customer.state.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--

            TODO 4: Use the ngIf Directive

            Add an ngIf directive to the <div> below that shows the div
            if there are no customers. In other words, if customers.length is 0
            then show the div.

        -->
        <div>
            No Records Found
        </div>
    </div>
</div>