<div class="customers view indent">
    <div class="container">
        <header>
            <h3>
                <span class="glyphicon glyphicon-user"></span>
                {{ title }}
            </h3>
        </header>
        <br />
        <div class="row">
            <div class="col-md-10">
                <div class="navbar">
                    <ul class="nav navbar-nav">
                        <li class="toolbar-item">
                            <a (click)="changeDisplayMode(displayModeEnum.Card)" [class.active]="displayMode === displayModeEnum.Card">
                                <span class="glyphicon glyphicon-th-large"></span> Card View
                            </a>
                        </li>
                        <li class="toolbar-item">
                            <a (click)="changeDisplayMode(displayModeEnum.Grid)" [class.active]="displayMode === displayModeEnum.Grid">
                                <span class="glyphicon glyphicon-align-justify"></span> List View
                            </a>
                        </li>
                    </ul>
                    <filter-textbox class="navbar-right"
                     (changed)="filterChanged($event)"></filter-textbox>
                </div>
            </div>
        </div>
        
        <!--

            TODO 1:  Use the CustomersCard Component as a Child Component
 
            1. Add the CustomersCardComponent element below (you'll need to use
               the selector defined in the Component decorator).

            2. Bind the customers property of the element to a property named 
               filteredCustomers using property binding syntax.

            3. Bind the hidden property of the child component to the following
               expression using property binding syntax:
               
               displayMode !== displayModeEnum.Card

        -->
        
        
        
        
        
        
        <!--

            TODO 2:  Use the CustomersGrid Component as a Child Component
            
            Another child component is available in the app named 
            CustomersGridComponent. In this TODO you'll add it to the view.

            1. Add the CustomersGrid component element below (you'll need to use
               the selector defined in the Component decorator).

            2. Bind the customers property of the element to a property named 
               filteredCustomers using property binding syntax.

            3. Bind the hidden property of the child component to the following
               expression using property binding syntax:
               
               displayMode !== displayModeEnum.Grid

        -->
        




          
    </div>
</div>
